#include <dt-bindings/clock/sun8i-v3s-ccu.h>

/ {
  osc27M: osc27M-clk {
    #clock-cells = <0>;
    compatible = "fixed-clock";
    clock-frequency = <27000000>;
    clock-accuracy = <50000>;
    clock-output-names = "osc27M";
  };
};

&isp {
  status = "okay";
};

&csi0 {
  status = "okay";
};

&mipi_csi2 {
  status = "okay";
};

&mipi_csi2_in {
  mipi_csi2_in_tc358743: endpoint {
    remote-endpoint = <&tc358743_out_mipi_csi2>;
    data-lanes = <1 2>;
  };
};

&dphy {
  status = "okay";
};

&i2c0 {
  pinctrl-names = "default";
  pinctrl-0 = <&i2c0_pins>;
  status = "okay";

  camera_tc358743: tc358743@f {
    compatible = "toshiba,tc358743";
    reg = <0xf>;

    clocks = <&osc27M>;
    clock-names = "refclk";

    status = "okay";

    port {
      tc358743_out_mipi_csi2: endpoint {
        remote-endpoint = <&mipi_csi2_in_tc358743>;
        clock-lanes = <0>;
        clock-noncontinuous;
        link-frequencies = /bits/ 64 <297000000>;
        data-lanes = <1 2>;
      };
    };
  };
};
